{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Band Info{% endblock %}


{% block content %}


<form action="">
  <h2>Information for Band {{BandName}} <input type="hidden" name="BandID" value="{{BandID}}"><br /></h2>
  Band Name: <input type="text" value="{{BandName}}" name="BandName"><br />
  Year Formed: <input type="text" value="{{YearFormed}}" name="YearFormed"><br />
  Origin City: <input type="text" value="{{OriginCity}}" name="OriginCity"><br />
  Origin State: <input type="text" value="{{OriginState}}" name="OriginState"><br />
  <input type="submit" value="Update Information">
</form>

<h2>Existing performancess</h2>

<table>
  <tr>
    <th>Performance ID</th>
    <th>Performance Date</th>
    <th>Length of Performance</th>
  </tr>
{% for performances in existingPerformances %}
  <tr>
    <td><a href="performance-info?PerformanceID={{performances[0]}}">{{performances[0]}}</a></td>
    <td>{{performances[1]}}</td>
    <td>{{performances[2]}}</td>
  </tr>
{% endfor%}

</table>
{% endblock %}