{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Band Info{% endblock %}


{% block content %}


<form action="">
  <h2>Information for Band {{BandName}} <br /></h2>
  <input type="hidden" value="{{BandID}}" name="BandID">
  Band Name: <input type="text" value="{{BandName}}" name="new_BandName"><br />
  Year Formed: <input type="text" value="{{YearFormed}}" name="new_YearFormed"><br />
  Origin City: <input type="text" value="{{OriginCity}}" name="new_OriginCity"><br />
  Origin State: <input type="text" value="{{OriginState}}" name="new_OriginState"><br />
  <input type="submit" value="Update Information">
</form>

<h2>Existing performancess</h2>

<table>
  <tr>
    <th>Performance ID</th>
    <th>Performance Date</th>
    <th>Length of Performance</th>
  </tr>
{% for performances in existingPerformances %}
  <tr>
    <td><a href="performance-info?PerformanceID={{performances[0]}}">{{performances[0]}}</a></td>
    <td>{{performances[1]}}</td>
    <td>{{performances[2]}}</td>
  </tr>
{% endfor%}

</table>
{% endblock %}