{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Bands{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Band ID</th>
    <th>Band Name</th>
    <th>Year Formed</th>
    <th>Origin City</th>
    <th>Origin State</th>
  </tr>
  {% for band in allBands %}
  <tr>
    <td>{{band[0]}}</td>
    <td>{{band[1]}}</td>
    <td>{{band[2]}}</td>
    <td>{{band[3]}}</td>
    <td>{{band[4]}}</td>
    <td>
      <a href="/band-info?BandID={{band[0]}}">View Band</a><br />
      <a href="/bands?delete_BandID={{band[0]}}">Delete Band</a><br />
    </td>
  </tr>
  {% endfor %}
</table>


<h3>Add new Band</h3>
<form action="">
  <!-- Band ID: <input name="new_BandID" ><br /> -->
  Band Name: <input type="text" name="new_BandName"><br />
  Year Formed: <input type="text" name="new_YearFormed"><br />
  Origin City: <input type="text" name="new_OriginCity"><br />
  Origin State: <input type="text" name="new_OriginState"><br />
  <input type="submit" value="Add Band">
</form>
{% endblock %}

<!-- <h3>Add new Song</h3>
<form action="">
  Song ID: <input name="new_SongID" ><br />
  Song Title: <input name="new_Title"><br />
  Composer: <input name="new_Composer"><br />
  Album: <input name="new_Album"><br />
  <input type="submit" value="Add song">
</form> -->