{% extends 'index.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Performance Info{% endblock %}


{% block content %}


<form action="">
  <h2>Information for Performance {{PerformanceID}} <input type="hidden" name="PerformanceID" value="{{PerformanceID}}"><br /></h2>
  Band ID: <input type="text" name="BandID", value="{{BandID}}"><br />
  Performance Date: <input type="text" name="PerformanceDate" value="{{PerformanceDate}}"><br />
  Length of Performance: <input type="text" name="Length" value="{{Length}}"><br />
  Includes Non-Band Member: <input type="text" name="IncludesNonBandPerson" value="{{IncludesNonBandPerson}}"><br />
  <input type="submit" value="Update Information">
</form>

<h2>Registered Songs</h2>

<table>
  <tr>
    <th>Song ID</th>
    <th>Song Title</th>
    <th>Composer</th>
  </tr>
{% for Song in registered_Songs%}
  <tr>
    <td>{{Song[0]}}</td>
    <td>{{Song[1]}}</td>
    <td>{{Song[2]}}</td>
    <td><a href="song-info?SongID={{Song[0]}}">View Song</a></td>
    <td><a href="performance-info?remove_song_id={{Song[0]}}&PerformanceID={{PerformanceID}}">Unregister Song</a></td>
  </tr>
{% endfor %}
</table>

<form action="/performance-info" method="get">
  <h2>Add Song To Performance</h2>
  <input type="hidden" name="PerformanceID" value="{{PerformanceID}}">
  Song Title: 
  <select name="SongID">  
    {% for Title in Songs %}
      <option value="{{Title[0]}}">{{Title[1]}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Add this song to performance">
</form>

{% endblock %}