{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Performances{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Performing Band</th>
    <th>Performance ID</th>
    <th>Band ID</th>
    <th>Performance Date</th>
    <th>Length of Performance</th>
    <th>Includes Non Band Member</th>
  </tr>
  {% for row in PerformanceList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      {{row[3]}}
    </td>
    <td>
      {{row[4]}}
    </td>
    <td>
      {{row[5]}}
    </td>
    <td>
      <a href="/performance-info?PerformanceID={{row[1]}}">View Performance</a><br />
      <a href="/performances?delete_PerformanceID={{row[1]}}">Delete Performance</a><br />
    </td>
  </tr>
  {% endfor %}
</table>

<!-- I need to look at this -->
<h3>Add new Performance</h3>
<form action="/performances" method="get">
    Performance ID: <input type="text" name="new_PerformanceID"><br>
    Band ID: <input type="text" name="new_BandID"><br>
    Performance Date: <input type="date" name="new_PerformanceDate"><br>
    Length of Performance: <input type="text" name="new_Length"><br>
    Includes Non-Band Member: 
    <select name="new_IncludesNonBandPerson">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select><br>
    <input type="submit" value="Add Performance">
</form>
</form>
{% endblock %}
