{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Song Information{% endblock %}


{% block content %}

<form action="">
  <input type="text" name="Title" value="{{Title}}"><br />
  <input type="text" name="Composer" value="{{Composer}}"><br />
  <input type="hidden" name="SongID" value="{{SongID}}"><br />
  <input type="submit" value="Update Information">
</form>

Registered performances
<table>
  <tr>
    <th>Performance ID</th>
    <th>Course Name</th>
    <th>Course Code</th>
    <th>Performance Date</th>
    <th>Performance Length</th>
    <th>Performance: Band ID</th>
  </tr>
  {% for performance in registered_performances %}
  <tr>
    <td>
      {{performance[0]}}
    </td>
    <td>
      {{performance[1]}}
    </td>
    <td>
      {{performance[2]}}
    </td>
    <td>{{performance[3]}}</td>
    <td>{{performance[4]}}</td>
    <td>{{performance[5]}}</td>
    <td>
      <a href="/song-info?SongID={{SongID}}&drop_Performance_id={{performance[0]}}">Unregister</a><br />
    </td>
  </tr>
  {% endfor %}
</table>
<form action="">
<p><label for="register">Register for additional performances</label></p>
<select id="register" name="add_performance_id">
  {% for performance in unregistered_performances %}
  <option value="{{Song.SongID}}">{{Song.SongID}} - {{Song.Title}} ({{Song.Composer}})</option>
  {% endfor %}
</select>
<input type="hidden" name="SongID" value="{{SongID}}">
<input type="submit" value="Add performance">
</form>
{% endblock %}