{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Song Information{% endblock %}


{% block content %}

<form action="">
  <h2>Information for Song {{Title}} <br /></h2>
  Song Title: <input type="text" name="Title" value="{{Title}}"><br />
  Composer: <input type="text" name="Composer" value="{{Composer}}"><br />
  Album: <input type="text" name="Album" value="{{Album}}"><br />
  <input type="hidden" name="SongID" value="{{SongID}}"><br />
  <input type="submit" value="Update Information">
</form>

Registered performances
<table>
  <tr>
    <th>Performance ID</th>
    <th>Performing Band</th>
    <th>Year Formed</th>
    <th>Performance Date</th>
    <th>Performance Length</th>
    <th>Band ID</th>
  </tr>
  {% for performance in registered_performances %}
  <tr>
    <td>
      {{performance[0]}}
    </td>
    <td>
      {{performance[1]}}
    </td>
    <td>
      {{performance[2]}}
    </td>
    <td>{{performance[3]}}</td>
    <td>{{performance[4]}}</td>
    <td>{{performance[5]}}</td>
    <td>
       <a href="/performances?PerformanceID={{PerformanceID}}">View Performances</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}