<html>

<body>

  <h1>This is page 1</h1>

  <h1>Enter some data about bands yall</h1>

  

  <form action="/UpdateTheBand" method="GET">
    <input type="hidden" name="BandID" value="{{BandID}}">
    Band Name: <input type="text" name="TheBandName" value="{{existingBandName}}"><br />
    Year Formed: <input type="text" name="YearFormed" value="{{existingYearFormed}}"><br />
    <!-- Origin City: <input type="text" name="OriginCity" value=""><br />
    Origin State: <input type="text" name="OriginState" value=""><br /> -->
    <input type="submit" name="Submit">
  </form>
</body>

</html>

